body {
  font-family: Arial, sans-serif;
  background-color: #F7F7F7;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.main-content {
  padding: 20px;
  flex-grow: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #FF4500;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  background-color: #FF7F50;
  transform: scale(1.05);
}


