.manage-users__container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* 1fr for main content, auto for footer */
  min-height: 100vh;
  margin: 0;
}

.manage-users__content {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.manage-users__search-bar {
  display: flex;
  margin-bottom: 20px;
}

.manage-users__input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  margin-right: 10px; /* Add some space between the inputs */
  transition: border-color 0.3s;
}

.manage-users__input:focus {
  border-color: #007bff;
  outline: none;
}

.manage-users__table-container {
  max-height: 400px; /* Set a maximum height for the table */
  overflow-y: auto; /* Enable vertical scrolling */
  border: 1px solid #ddd; /* Optional: add a border to the container */
  border-radius: 4px; /* Optional: round the corners */
}

.manage-users__table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-left: 4px solid #007bff;
  border-right: 4px solid #007bff;
}

.manage-users__table th,
.manage-users__table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd; /* Added border for each cell */
  height: 50px; /* Row height */
}

.manage-users__table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
}

.manage-users__table td {
  background-color: #fff;
}

.manage-users__table td:hover {
  background-color: #f5f5f5; /* Highlight row on hover */
}

.manage-users__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.manage-users__pagination-button {
  padding: 8px 10px; /* Adjusted padding */
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin: 0 10px;
  transition: background-color 0.3s;
}

.manage-users__pagination-button:hover {
  background-color: #0056b3;
}

.manage-users__pagination-button.active {
  background-color: #28a745;
  font-weight: bold;
}

.manage-users__pagination-button:disabled {
  background-color: #ccc; /* Disabled button color */
  cursor: not-allowed;
}
